@font-face {
    font-family:thiccboi ;
    src: url(/assets/font/THICCCBOI-Medium.ttf);
}
*{
    scroll-behavior: smooth;
}
.font-thiccboi{
     font-family:thiccboi
}

.greenlinear{
background: linear-gradient(259.08deg, #50EDFF -5.05%, #48B8DA 63.97%, #3B5998 130.42%);
}

.slider-parent-one .slick-list {
  overflow: unset !important;
}
.slider-parent-one .slick-track {
  display: flex;
  gap: 30px;
}

.slider-parent-one .slick-dots li {
  background-color: #faf9f6;
  border-radius: 100px;
  width: 10px;
  height: 10px;
}
.slider-parent-one .slick-dots .slick-active {
  width: 10px;
  background-color: #3b5998;
  border-radius: 21px;
  height: 10px;
}
.slider-parent-one .slick-dots {
  position: absolute !important;
  display: flex;
  margin-top: 10px;
  bottom: -30px !important;
  justify-content: center;
}
.slider-parent-one .slick-dots li button:before {
  color: transparent !important;
}
.slider-parent-one .slick-next:before{
  display: none !important;
}
